<html>
<head>
{% load static %}
<title>Polls</title>
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'polls/bootstrap/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'polls/bootstrap/js/bootstrap.min.js' %}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'polls/css/polls.css' %}">
</head>
<body>
<header>
    <div class="container clearfix">
        <img src="{% static 'polls/img/logo.jpg' %}">
        <h1 id="logo"><a href="{% url 'polls:index'%}">Polls</a></h1>
{#        <nav>#}
{#            <a href="">Lorem</a>#}
{#            <a href="">Ipsum</a>#}
{#            <a href="">Dolor</a>#}
{#        </nav>#}
    </div>
</header><!-- /header -->
<div class="top">
{% block content %}
{% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#">FDD.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>